/* Footer */
.footerRight{
	background: #95a5a6;
	padding-top: 1%;
	text-align: center;
	color: white;
	padding-bottom: 1%;
	
}
/* Menu */
	/* Boton login  */
		.divBtnHead{
			padding-right: 2%;
			padding-left: 2%;
		}
			.btnLogin{
				font-weight: bold;
				color: white;
			}
			.btnSq{
				border-radius: 0;
			}
			.btnPi{
				background: #7a87be;
			}
	.divImgLogo{
		text-align: center;
	}
		.imgLogo{
			width: 50%;
		}
	.divInputSeach{
		padding-left: 3%;
	}
	/* Nav menu */
	.navMenu{
		
		display: inline-block;
		width: 90%;
	}
	.navMenu ul li{
		display: inline-block;
		padding: 2%;
		margin: 0;
		width: 30%;
		text-align: center;
		color: black;
		list-style: none;
	}
/* componentes */
	.marginNull{
		margin:0;
	}
	.vcenter {
	    display: inline-block;
	    vertical-align: middle;
	    float: none;
	}

/* Test */
	.pink{
		background: pink;
	}
	.green{
		background: green;
	}
	.red{
		background: red;
	}